language: bash

os:
  - linux
  - osx
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install software-properties-common; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-add-repository -y ppa:ansible/ansible; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get -y install ansible; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew unlink python; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install python; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew postinstall python; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install ansible; fi

sudo: required
dist: xenial

script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ansible-playbook -c local uowlaptop.yml; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ansible-playbook -c local maclaptop.yml; fi
